numpy
# use torch 2.5.0+cu121.html
torch==2.5.0+cu121 --index-url https://download.pytorch.org/whl/cu121
torch_geometric --index-url https://data.pyg.org/whl/torch-2.5.0+cu121.html
pyg_lib --index-url https://data.pyg.org/whl/torch-2.5.0+cu121.html

# use cached wheels from https://www.kaggle.com/discussions/getting-started/437173
# wheelhouse/torch_sparse-0.6.18-cp310-cp310-linux_x86_64.whl
# wheelhouse/torch_scatter-2.1.2-cp310-cp310-linux_x86_64.whl
# otherwise might face long built time (~30 min)
torch_sparse --index-url https://data.pyg.org/whl/torch-2.5.0+cu121.html
torch_scatter --index-url https://data.pyg.org/whl/torch-2.5.0+cu121.html


pytorch-lightning
schema
docopt
dm_clrs
importlib_resources
seaborn
wandb
torcheval
gurobipy
zython
minizinc
pulp
elkai
pyconcorde@git+https://github.com/jvkersch/pyconcorde@f75601d2534de2101902cefdc250f2f98f3f8a2c