schema
docopt
numpy
-f https://download.pytorch.org/whl/cu126
torch
torch_geometric
-f https://data.pyg.org/whl/cu126.html
pyg_lib
-f https://data.pyg.org/whl/cu126.html
torch_scatter
-f https://data.pyg.org/whl/cu126.html
torch_sparse
pytorch-lightning
dm_clrs
importlib_resources
seaborn
wandb
torcheval
gurobipy
zython
minizinc
pulp
elkai
pyconcorde @ git+https://github.com/jvkersch/pyconcorde